body {
  background-color: var(--main-color);
}

/* ========== loading screen ========== */
.loading-screen {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.lds-roller {
  color: #fff;
}
.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========== navbar left ========== */
nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 100vh;
  z-index: 9999;
  left: 0;
}
nav header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  background-color: #fff;
}
nav img {
  width: 50px;
}
nav i {
  cursor: pointer;
  font-size: 20px;
}
nav .nav-tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 1.5rem;
}
nav .nav-tab ul {
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}
nav .nav-tab li {
  cursor: pointer;
  padding-block: 0.5rem;
  position: relative;
}
nav .nav-tab .colorContainer {
  background-color: white;
  padding: 10px;
}
nav .nav-tab .colorContainer span {
  width: 40px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
}
nav .nav-tab .colorContainer span:nth-child(1) {
  background-color: #405d72;
}
nav .nav-tab .colorContainer span:nth-child(2) {
  background-color: #eb5b00;
}
nav .nav-tab .colorContainer span:nth-child(3) {
  background-color: #009fbd;
}
nav .nav-tab .colorContainer span:nth-child(4) {
  background-color: #0d0d0d;
}
nav .social a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
nav .social a:hover {
  color: goldenrod;
}
nav .social i {
  margin-right: 10px;
}

/* ========== Data Section ========== */
.meal {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.meal .meal-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f9f6f6ca;
  top: 200%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: black;
  /* justify-content: center; */
  align-items: center;
  transition: 0.5s;
}
.meal:hover .meal-layer {
  top: 0;
}
